<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zaijiadd.app.applyflow.dao.ApplyFlowDao">

	<insert id="addInviteUser" parameterType="inviteUserEntity" useGeneratedKeys="true" keyProperty="inviteuser_id">
		insert into
			invite_user
		(inviteuser_id,inviteuser_name,inviteuser_mobile,visit_time,referrer,apply_role,user_state,remark )	
		values
		( #{inviteUserid}, #{inviteuserName}, #{inviteuserMobile}, #{visitTime}, #{referrer}, #{applyRole},#{userState},#{remark} )
	</insert>

</mapper>